.main {
  min-height: 100vh;
}
.home_container {
  height: 100%;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  &__items {
    display: flex;
    justify-content: center;
    padding: 5px;
    &--right {
      display: flex;
    }
    &--left {
      width: 75%;
    }
  }
}
.fc {
  width: 100%;
}
