<!DOCTYPE html>
<html>
  <head>
    <title>Mon site web</title>
  </head>
  <body>
    <h1>Bienvenue sur mon site web</h1>
    <p>Ce site web est en cours de construction .</p>
    <form>
      <input type="file" accept=".csv" id="csvFileInput" />
      <button type="button" onclick="handleFileUpload()">Upload</button>
    </form>
  </body>
</html>
