<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daily repport</title>
  </head>
  <body>
    <h1>Daily repport</h1>
    <div>
      <p>DTPT Non cumul</p>
      <p><%= sumOssDuration %></p>
    </div>
  </body>
</html>
