<div class="card" style="text-align: center; width: fit-content">
  <div class="card-body p-1">
    <div class="card-head">1</div>
    <p class="text-start">Non cumul : 01:20:20</p>
    <p class="text-start">Cumul : 01:20:20</p>
  </div>
</div>
