<div class="table-responsive float-start">
  <table class="table-md">
    <% for (let i = 0; i < 30; i+=7) { %>
    <tr>
      <% for (let j = i; j < i+7; j++) { %> <% if (j < 30) { %>
      <td onclick="handleClickCell(this)"><%- include('calendarCell') %></td>
      <% } } %>
    </tr>
    <% } %>
  </table>
</div>

<script>
  const handleClickCell = (element) => {
    console.log(element);
  };
</script>
